<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [6]:
# a
print("Hello, my name is Lisa")

# b
nama = "Lisa"
print("Hello, my name is " + nama)

# c
print("Hello, my name is " + nama)

# d
print("Hello, my name is {}".format(nama))

Hello, my name is Lisa
Hello, my name is Lisa
Hello, my name is Lisa
Hello, my name is Lisa

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [52]:
# a. 
jumlah_kotak = 4
kelereng_per_kotak = 15
jumlah_teman = 12

total_kelereng = jumlah_kotak * kelereng_per_kotak
kelereng_per_teman = total_kelereng // jumlah_teman
print(f"Setiap teman akan mendapat {kelereng_per_teman} kelereng.")

# b. 
hasil_pangkat = 8 ** (1/3)
print(f"Hasil dari 8 pangkat 1/3 adalah {hasil_pangkat:.2f}.")

# c. 
uang_catharina = 50000
harga_per_paket = 7500
jumlah_paket = uang_catharina // harga_per_paket
kembalian = uang_catharina % harga_per_paket

print(f"Catharina dapat membeli {jumlah_paket} paket kertas binder.")
print(f"Kembalian yang diterima: Rp {kembalian}.")

Setiap teman akan mendapat 5 kelereng.
Hasil dari 8 pangkat 1/3 adalah 2.00.
Catharina dapat membeli 6 paket kertas binder.
Kembalian yang diterima: Rp 5000.

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [9]:
# 1. 
string_ke_int = int("1000")
print(string_ke_int, type(string_ke_int))  # Output: 1000 <class 'int'>

# 2. 
float_ke_int = int(5.25)
print(float_ke_int, type(float_ke_int))    # Output: 5 <class 'int'>

# 3.
int_ke_float = float(5)
print(int_ke_float, type(int_ke_float))     # Output: 5.0 <class 'float'>

# 4. 
int_ke_string = str(1000)
print(int_ke_string, type(int_ke_string))   # Output: 1000 <class 'str'>

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [10]:
# String yang diberikan
teks = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

# 1.
substring = teks[20:31]
print(substring)  # Output: "to know what"

# 2. 
list_kata = teks.split()
print(list_kata)

# 3. 
balik_teks = teks[::-1]
print(balik_teks)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "Fakultas".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [36]:
# 1.
Fakultas = ("Fakultas IBM", "Fakultas PSY", "Fakultas SIFT", "Fakultas ISB", "Fakultas VCD")
print(Fakultas)

# 2. 
print("Panjang tuple:", len(Fakultas))

# 3. 
index_sift = Fakultas.index("Fakultas SIFT")
print("Index Fakultas SIFT:", index_sift)

('Fakultas IBM', 'Fakultas PSY', 'Fakultas SIFT', 'Fakultas ISB', 'Fakultas VCD')
Panjang tuple: 5
Index Fakultas SIFT: 2

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [53]:
# 1. 
favorit = ["Soto", "Sushi", "Bakso"]

# 2. 
for makanan in favorit:
    print(makanan)

# 3.
for makanan in favorit:
    print(f"Aku ingin pesan {makanan}")

# 4. 
favorit[1] = "Pasta"  # Mengganti Sushi dengan Pasta
print(favorit)

Soto
Sushi
Bakso
Aku ingin pesan Soto
Aku ingin pesan Sushi
Aku ingin pesan Bakso
['Soto', 'Pasta', 'Bakso']

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [37]:
# 1. 
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2.
gabungan_set = set1.union(set2)
print(gabungan_set)  # Output: {1, 2, 3, 4, 6, 8}

# 3. 
intersection_tidak_ada = set1.isdisjoint(set3)
print(intersection_tidak_ada)  # Output: True

# 4. 
bagian_dari_set1 = set4.issubset(set1)
print(bagian_dari_set1)  # Output: True

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [46]:
# Meminta input dari user
jumlah_penggunaan = float(input("Masukkan jumlah penggunaan listrik (dalam kWh): "))

# Memeriksa penggunaan minimum
if jumlah_penggunaan < 100:
    penggunaan = 100
else:
    penggunaan = jumlah_penggunaan

# Menghitung tarif berdasarkan golongan
if penggunaan < 1000:
    tarif = 1000
else:
    tarif = 2000

# Menghitung total pembayaran
total_biaya = penggunaan * tarif

# Menambahkan 10% jika penggunaan >= 1000 kWh
if penggunaan >= 1000:
    total_biaya *= 1.1

print(f"Total biaya yang harus dibayar: Rp{total_biaya:.2f}")

Total biaya yang harus dibayar: Rp2640000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [51]:
# Meminta input dari user
input_peserta = input("Masukkan jumlah peserta: ")

# Memeriksa apakah input kosong atau bukan angka
if not input_peserta.isdigit():
    print("Jumlah orang harus berupa angka dan tidak bisa negatif!")
else:
    jumlah_peserta = int(input_peserta)
    
    # Memeriksa jika jumlah peserta negatif
    if jumlah_peserta < 0:
        print("Jumlah orang tidak bisa negatif!")
    else:
        # Menghitung jumlah angkot yang diperlukan
        kapasitas_angkot = 10
        jumlah_angkot = (jumlah_peserta // kapasitas_angkot) + (1 if jumlah_peserta % kapasitas_angkot > 0 else 0)
        
        # Menampilkan hasil
        print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

Jumlah angkot yang diperlukan: 5

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [23]:
import numpy as np
# 1 
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])

In [24]:
# 2 
hari_sorted = np.sort(hari)
print("Hari yang sudah diurutkan:")
print(hari_sorted)

Hari yang sudah diurutkan:
['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [25]:
import random
# 3
random_index = np.random.randint(len(hari))
selected_day = hari[random_index]
print(f"Selamat hari {selected_day} adalah hari baikmu bulan ini!")

Selamat hari Rabu adalah hari baikmu bulan ini!

In [26]:
# 4
matrix = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]])
print("\nShape dan Dimensi dari matriks:")
print("Shape:", matrix.shape)
print("Dimensi:", matrix.ndim)

Shape dan Dimensi dari matriks:
Shape: (3, 4)
Dimensi: 2

In [27]:
# 5
kolom_ketiga = matrix[:, 2]  # Mengambil kolom ketiga (indeks 2)
print("\nElemen kolom ketiga:")
print(kolom_ketiga)

Elemen kolom ketiga:
[ 3  7 11]

In [28]:
# 6
reshaped_matrix = matrix.reshape(2, 6)
print("\nMatriks setelah direshape menjadi (2, 6):")
print(reshaped_matrix)

Matriks setelah direshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [6]:
import pandas as pd

# 1
data_series = ["Information", "Systems", "for", "Business"]
series = pd.Series(data_series)
print("Pandas Series:")
print(series)


# 2
data_dict = {
    "brand": ["Ford"], 
    "model": ["Mustang"], 
    "year": [1964]
}
dataframe = pd.DataFrame(data_dict)
print("\nPandas DataFrame:")
print(dataframe)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [7]:
# 3
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"
df = pd.read_csv(url)

In [9]:
# 4
kota_unik = df['State'].unique()
print("Kota yang ada dalam dataset:", kota_unik)

Kota yang ada dalam dataset: ['New York' 'California' 'Florida']

In [10]:
# 5
df_random = df.sample(10)
print("5 row pertama dari dataset baru:")
print(df_random.head())

5 row pertama dari dataset baru:
    R&D Spend  Administration  Marketing Spend     State     Profit
35   46014.02        85047.44        205517.64  New York   96479.51
41   27892.92        84710.77        164470.71   Florida   77798.83
27   72107.60       127864.55        353183.81  New York  105008.31
8   120542.52       148718.95        311613.29  New York  152211.77
28   66051.52       182645.56        118148.20   Florida  103282.38

In [11]:
# 6
print("\nInformasi DataFrame:")
print(df.info())

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [12]:
# 7
california_data = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("\nR&D Spend dan Marketing Spend dari California:")
print(california_data)

R&D Spend dan Marketing Spend dari California:
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [13]:
# 8
missing_values = df.isnull().sum()
print("\nMissing values per kolom:")
print(missing_values)

Missing values per kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [14]:
# 9
df_filtered = df[df['Profit'] >= 50000]

In [15]:
# 10
df_sorted = df_filtered.sort_values(by='Marketing Spend', ascending=False)
print("\nDataFrame setelah diurutkan berdasarkan Marketing Spend:")
print(df_sorted)

DataFrame setelah diurutkan berdasarkan Marketing Spend:
    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [17]:
import pandas as pd
# 1
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv"
df = pd.read_csv(url)

In [18]:
# 2
random_data = df.sample(10)
print("10 Data Random:")
print(random_data)

10 Data Random:
      No  X1 transaction date  X2 house age  \
163  164             2013.500           8.5
253  254             2012.667          30.4
411  412             2013.250          18.8
403  404             2012.667          30.9
395  396             2012.917          21.2
22    23             2012.917          14.7
121  122             2013.500          13.6
93    94             2012.917          31.9
284  285             2012.917          15.0
356  357             2012.833          10.3

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
163                                104.8101                                5
253                               1735.5950                                2
411                                390.9696                                7
403                                161.9420                                9
395                                512.5487                                4
22                                1360.1390                                1
121                                492.2313                                5
93                                1146.3290                                0
284                                383.2805                                7
356                                211.4473                                1

     X5 latitude  X6 longitude  Y house price of unit area
163     24.96674     121.54067                        55.5
253     24.96464     121.51623                        25.9
411     24.97923     121.53986                        40.6
403     24.98353     121.53966                        39.7
395     24.97400     121.53842                        42.5
22      24.95204     121.54842                        24.6
121     24.96515     121.53737                        48.0
93      24.94920     121.53076                        16.1
284     24.96735     121.54464                        34.4
356     24.97417     121.52999                        45.3

In [19]:
# 3
description = df.describe()
print("\nDeskripsi Data:")
print(description)

Deskripsi Data:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [20]:
# 4
df.drop(columns=['No'], inplace=True)
df.columns = [
    'transaction date',
    'house age',
    'distance to the nearest MRT station',
    'number of convinience stores',
    'latitude',
    'longitude',
    'house price of unit area'
]
print("\nNama Kolom Setelah Diubah:")
print(df.columns)

Nama Kolom Setelah Diubah:
Index(['transaction date', 'house age', 'distance to the nearest MRT station',
       'number of convinience stores', 'latitude', 'longitude',
       'house price of unit area'],
      dtype='object')

In [21]:
# 5
missing_values = df.isnull().sum()
print("\nMissing Values per Kolom:")
print(missing_values)

Missing Values per Kolom:
transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convinience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64